extends master-layout-fullwidth2

block pagetitle
  title About the Founder | Tamasin Ford | Power Up Tech Academy

block metatag
  meta(description="Kids coding classes and camps in Chicago")

block content
  section.no-pad-bottom
    .container
      .row
        .col-xs-12.col-sm-offset-1.col-sm-10
          h2.heading-section.text-center HI, I'M TAMASIN. 
          h3.heading-secondary.text-center I teach kids to build cool stuff with code.

      .row
        .col-sm-offset-1.col-sm-10.hidden-xs
          p.text-center
           img(src="img/tamasin-ford-1.jpg" width="75%")
        .col-sm-offset-1.col-sm-10.hidden-sm.hidden-md.hidden-lg.hidden-xl
          p.text-center
           img(src="img/tamasin-ford-1.jpg" width="100%")
      .row
        .col-xs-12.col-sm-offset-1.col-sm-10
          h3.heading-secondary.pad-top.text-center This is where my story starts...
          p.pad-top-light.
            A couple years ago, I was looking for a Christmas gift for my nephew. I came across a kids coding game, and as a former <strong>professional software developer</strong> knew that this was something I wanted to introduce him to. 

          p However, when I looked around for more coding options, I was surprised to find very few. There were a handful of books, but virtually no computer programming classes for kids in Chicago.
      .row
        .col-xs-12
          h3.pad-top.heading-secondary.text-center I created Power Up Tech Academy because "I <i class="fa fa-heart"></i> CODING"

      .row
        .col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-2.col-md-8
          ul.pad-top-light
            li 
              i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
              | It gives me the ability to CREATE the ideas I can see in my head
            li
              i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
              | It’s challenging and constantly keeps me GROWING and learning
            li
              i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
              | There’s no feeling quite like the MAGIC moment when you make stuff work
      .row.pad-top
        .col-sm-3.col-sm-offset-1.hidden-xs
          p.text-center
            img(src="img/power-up-location-4.jpg" width="100%")
        .col-sm-3
          p.text-center
            img(src="img/power-up-location-2.jpg" width="100%")
        .col-sm-3
          p.text-center.hidden-xs
            img(src="img/power-up-location-3.jpg" width="100%")
      .row
        .col-xs-12.col-sm-offset-1.col-sm-10
          h3.heading-secondary.text-center.pad-top And I am passionate about helping kids become creators, not just consumers, of technology
          p.pad-top-light When I talk to parents, I hear them expressing frustration, concern and confusion about screen time. We all recognize that technology contains important skills, and through Power Up Tech Academy, I want to tilt the balance from PASSIVE, entertainment-oriented consumption to positive, PRODUCTIVE screen time.
          p.pad-top-light A few months after I started teaching kids to code, one of my students told me, "Sometimes when I'm playing a game now, I think about how I would make it in Scratch." This profound change in empowerment and understanding blew me away, and it's what I hope for all my students: to be able to envision themselves making the apps they need, want and love.
          h3.heading-secondary.text-center.pad-top My teaching approach centers on fun, hands-on projects like video games and animations
          p.pad-top-light My teaching philosophy is simple: I believe kids learn best by doing (creating!) and they learn most efficiently when there is guidance and coaching available during the creation process.
          p.pad-top-light And in all classes at Power Up Tech Academy, we create things that are exciting and meaningful to kids: Video Games! Animations! Stories! Minecraft Mods! And more...
          p.pad-top-light But for me, the point is not what we build, but the process of building it. Kids learn to plan and design, to think in steps, to test their program and see if it works, and much more. Over time, this becomes a formidable set of problem solving skills.
      .row.pad-top
        .col-sm-3.col-sm-offset-1.hidden-xs
          p.text-center
            img(src="img/tamasin-teaching-4.jpg" width="100%")
        .col-sm-3
          p.text-center
            img(src="img/tamasin-teaching-2.jpg" width="100%")
        .col-sm-3
          p.text-center.hidden-xs
            img(src="img/tamasin-teaching-3.jpg" width="100%")
         
 
      .row
        .col-sm-offset-1.col-sm-10
          h3.heading-secondary.pad-top.text-center For 10 years, I was a professional developer

          p.pad-top-light Through my first business, SharpCurve Solutions, I helped people and businesses do their work better, faster and error-free. I wrote desktop and web applications, I designed and built databases, and I wrote code to customize other vendors' systems.
          p.pad-top-light My clients came to me because they knew that the right software could have a huge impact on their businesses. And I had the satisfaction of seeing my work used daily in companies ranging from mortgages and pensions to manufacturing and furnace cleaning.

          h3.heading-secondary.pad-top.text-center I was also a part-time private piano teacher for over 15 years
          p.pad-top-light This is where I learned how to teach, and where I discovered that good coaching, persistence and practice win out over raw talent in the long run.
          p.pad-top-light In fact, I believe that learning to code is just like learning to be good at piano or karate or baseball, or any complex skill. It is a journey of "10,000 hours to mastery".

      .row
        .col-sm-offset-1.col-sm-10
          h3.heading-secondary.pad-top.text-center And here are some other things I've done:
          ul.pad-top-light
            li
              i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
              | University of Calgary (Canada): Undergraduate degree in Pure Mathematics 
            li
              i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
              | University of Michigan Ross School of Business: MBA
            li
              i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
              | Northwestern Center for Talent Development: Coding Instructor
            li
              i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
              | University of Chicago FEMMES: Coding Instructor
            li
              i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
              | Chicago TechWeek: Coding Instructor
            li
              i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
              | West Ridge Elementary (CPS) Scratch Day: Coding Instructor
            li
              i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
              | Lane Tech High School (CPS) Women in Computer Science Conference: Keynote Speaker
            li
              i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
              | John Hancock High School (CPS) Computer Science Education Week: Career Speaker
            li
              i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
              | The Boston Consulting Group: Project Leader
      .row
        .col-sm-offset-1.col-sm-10
          h3.heading-secondary.pad-top.text-center Thanks for visiting!
          h3.heading-secondary.text-center I look forward to meeting you and your child!

          
 