extends master-layout-fullwidth2

block pagetitle
  title Summer Computer Camps in Chicago | Power Up Tech Academy

block metatag
  meta(name="description", content="Will your kids be ready to succeed in the high-tech world of tomorrow? Coding classes help kids create and understand technology")

block content
  .row
    .col-md-8.col-md-offset-2.text-center
      h3.heading-section THANK YOU FOR A GREAT SUMMER!
      p.pad-top Summer 2016 was a great session at Power Up Tech Academy. We had almost 170 kids from ages 6-13 who joined us to experience the empowerment of making exciting projects with technology. They became designers, inventors and directors of unique games and apps, and created their own special superpower: CODING.
      h3.pad-top-light.heading-secondary COME ON AN ADVENTURE WITH US AGAIN NEXT SUMMER!  
      p Check back here in January 2017 to view our schedule and camp themes for our next summer of coding. Last year's camp descriptions are listed below so you can get an idea of what may be offered.
    
  .row.pad-top.no-pad-bottom
    .col-xs-10.col-xs-offset-1.text-center.pad-top-light
      h3.heading-section 2016 CAMP DESCRIPTIONS
      h4 All camps include daily outdoor recreation time
  .row
    .col-sm-6.col-sm-offset-0.col-md-5.col-md-offset-1.all-pad
      h4.class-title.pad-top.heading-primary Early Coding Through Stories &amp; Play
      h5.class-subtitle Grades 1-3, Beginner/Intermediate 
      .block.block-xlight
        p.class-description.
          A fun and interactive class that will result in working animations created by your child!
          Learn coding basics while creating stories on the iPad.
          Play fun unplugged and iPad games that teach logic and sequential thinking.
          This class is suitable for all levels of readers and reinforces literacy skills.
        p Note: IPads are provided, but if you want to keep your work, please bring your own iPad, as files are saved locally on each device.

      h4.class-title.pad-top.heading-primary Coding Your Own Video Games and More
      h5.class-subtitle Grades 3-6, Beginner/Intermediate/Advanced 
      .block.block-xlight
        p.class-description Discover the thrill of creating your own entertainment! Using Scratch, a kid-friendly programming language from MIT, kids can build space invaders, a virtual pet, geometry dash or any other kind of game they can imagine. Game programming develops skills such as logic, visual design, animation, sound design, storylines and more. It's a great way to take on new challenges while having lots of fun!
        p For kids who want something different than video games, we have a set of projects that focus on art, music and storytelling available too!
        p Beginners will be given guided projects to learn to code starting from basics, while experienced coders can select their own projects (and we will help with ideas, if needed!) and work on stretching and improving their coding skills with challenges, coaching and mentorship provided by our teachers.
        
    .col-sm-6.col-sm-offset-0.col-md-5.col-md-offset-0.pad-top.all-pad
      h4.class-title.pad-top.heading-primary Coding and Sports Combo with 
        a(href="http://wegotgamechicago.com/" target="_blank") We Got Game
      h5.class-subtitle Grades 3-6, Beginner/Intermediate/Advanced 
      .block.block-xlight
        p Spend half the day in  our "Coding Video Games and More With Scratch" course, and half the day playing outside with professional coaches from 
          a(href="http://wegotgamechicago.com/" target="_blank") We Got Game
          | ! The multi-sport program is designed to introduce athletes to a variety of different sports including Basketball, Baseball, Football, Capture the Flag and Dodgeball in one fun-filled week. Athletes will learn the rules and essentials of each sport through skill-based games and scrimmages. By the end of the week, your child will walk away with knowledge of multiple sports along with vital life lessons such as respect, teamwork, and self-discipline.  


      h4.class-title.pad-top.heading-primary Minecraft Modding
      h5.class-subtitle Grades 3-6, Beginner/Intermediate 
      .block.block-xlight
        p Learn to code by modifying one of today's most popular games! In this class, we use exploding chickens, drones that build houses for you, pumpkins that drop random lucky items, and more cool projects to learn about how programming works. Scratch experience is recommended and a Minecraft account is required (PC/Mac version, available from minecraft.net). 
        p Note: This is not a class to play Minecraft, so please set your child's expectations accordingly.
      h4.class-title.pad-top.heading-primary Middle School Coding Workshop 
      h5.class-subtitle Grades 6-8, Beginner/Intermediate/Advanced 
      .block.block-xlight(id="notes")
        p Work on your coding skills or learn something new in a workshop environment centered around your coding level and interests. Our teachers will help you to explore a language of your choice (we recommend Scratch, App Inventor, Javascript, HTML/CSS, Python), and start building apps, games and projects with it. With a low student-teacher ratio, this is a great setting for kids who know what they want to code but would like mentorship and guidance while doing it. All levels, including beginners, welcome.

  section.section-light
    .container
      .row
        .email-box.col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
          #mc_embed_signup1
            form#mc-embedded-subscribe-form1.validate(action="//powerupta.us8.list-manage.com/subscribe/post?u=ed0abfd69c7573fb1e0291095&amp;id=b0ca742eea" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate)
              #mc_embed_signup_scroll1
                h2.heading-section SIGN UP FOR UPDATES
                p Be the first to find out about new classes, camps, special events and coding news:
                input#mce-EMAIL1.email(type="email" value="" name="EMAIL" placeholder="email address" required style="width:300px;")
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                div(style="position: absolute; left: -5000px;")
                  input(type="text" name="b_ed0abfd69c7573fb1e0291095_b0ca742eea" tabindex="-1" value="")
                input#mc-embedded-subscribe1.btn.btn-secondary(type="submit" value="Subscribe" name="subscribe")