extends master-layout-fullwidth2

block pagetitle
  title Kids Coding Curriculum | Power Up Tech Academy
block metatag
  meta(name="description", content="Power Up Tech Academy offers a range of languages and levels to move your kids from beginners to coding ninjas")

block content
  .container.width-80-percent
    h2.heading-section.text-center GET TO KNOW OUR KIDS CODING CURRICULUM
    p.pad-top-light Power Up Tech Academy offers a flexible sequence of courses to allow your child to explore coding according to their own interests and pace. 
    p.pad-top-light All our classes are Project Based. This means that we have the kids building working games, animations, apps and more every single class. For beginners, we teach the project step-by-step at the front of the room, and the kids build along with us on their individual computers. More advanced students may work on their own projects, and we will teach mini-projects to illustrate specific concepts.
    p.pad-top-light We indicate age and grade ranges to our classes, and younger kids within each range may benefit from repeating classes, while older kids may move forward very quickly. It is also possible to go back to explore a programming language that interests you more deeply, or move around to get a taste of multiple languages.
    p.pad-top-light We recommend a strong foundation in Scratch before exploring other courses such as Minecraft Mods or Android Apps. Typically this is at least 2 sessions.
    img.extra-pad-bottom(src="img/kids-coding-curriculum.png" width="100%" alt="kids coding curriculum at Power Up Tech Academy")


    h3 Classes can be repeated to build skills at different levels. Here is what you can expect to learn at each level:
    h3.heading-primary Beginner
    .block.block-xlight

      p Beginner projects introduce basic patterns and structures, and provide model projects that kids can emulate. 

      ul
        li 
          i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
          | Demos feature step by step instructions and lots of explanation
        li 
          i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
          | Students learn by copying and getting detailed one on one help
        li 
          i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
          | Key concepts and patterns are repeated in different settings through the project sequence

      p Students will typically build several different shorter projects the first time they learn a language.

      
    h3.heading-primary Intermediate
    .block.block-xlight

      p Intermediate projects expand the student's range of patterns and concepts, and focus on learning to find and fix errors.

      ul
        li 
          i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
          | Demos only cover new concepts within a project and allow kids to build the basic parts of the project (learned in Beginner level) independently
        li 
          i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
          | Ad hoc lessons on additional concepts are given based on the needs and interests of each student
        li  
          i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
          | One-on-one coaching time focuses on breaking down the project and planning the code, as well as troubleshooting skills

      p Projects tend to be larger, and students may work on just 1 to 3 projects in a session.

    h3.heading-primary Advanced
    .block.block-xlight

      p We consider a student Advanced once they are building complex projects with a high degree of independence. We work with these students on designing better quality code and thinking like a programmer. 

      ul
        li
          i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
          | Lessons on advanced patterns and concepts are driven by the needs of the class and the projects being built
        li
          i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
          | Opportunity to interact with similarly skilled peers, and collaborate in small and large ways
        li
          i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
          | Coaching focuses on the design of algorithms and projects, and helping the kids think about the best way to do things
      p Projects again tend to be larger, and students may work on just 1 project for weeks or months.

    p Also check out our 
      a(href="faq.html" style="font-weight:500") frequently asked questions
      |  page for more information, including level progression.

    p 
      em Note: This information is provided as a general guideline. Please 
        a(href="contact.html" style="font-weight:500") contact us 
        | if you have specific questions about your child's level.

    .btn-align-center.pad-top.pad-bottom
      a.btn.btn-secondary-inverse.btn-solo(href="register.html") Register Now
          
