extends master-layout-fullwidth2

block pagetitle
  title FAQs About Coding for Kids | Power Up Tech Academy

block content
  .container.width-80-percent
 
    h2.heading-section.text-center.pad-bottom FAQS ABOUT KIDS CODING CLASSES
    h3 Which class should my child take first?

    ul.pad-bottom
      li
        i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
        b Kids under 8 years old:
        |  Start with 
        b Scratch Jr
        |  (Early Coding: Stories and Play)
      li
        i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
        b Kids 8 and up:
        |  Start with our 
        b Scratch
        |  classes (Code Your Own Video Games) and then move on to 
        b Minecraft Modding 
        |  or 
        b Android apps


      li
        i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
        b Kids 10 and up:
        |  Choose from a  
        b Scratch
        |  class, or the 
        b HTML
        |  (Build your own website) class

    h3 What is Scratch?

    p Scratch (
      a(href="http://scratch.mit.edu" target="none") http://scratch.mit.edu
      | ) is a 
      strong block-based programming language 
      |  built by MIT's Media Lab, designed specifically around the needs and interests of
      |  children learning to code. 
    p Scratch is the core foundational language in our curriculum. We chose Scratch because:
    ul.pad-bottom
        li
          i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
          | It is 
          b easy 
          |  to start with. Kids will have a working program at the end of the first class.
        li
          i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
          | It is  
          b powerful and capable 
          | . Scratch and its cousin SNAP
          | are used in college level Computer Science classes at prestigious institutions such as Harvard
          | and Berkeley. 
        li
          i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
          | It is a 
          b fun
          |  language that is particularly good at visual projects such as games and animations.
        li
          i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
          | It is 
          b free, online and open source
          |  so that kids can access their projects from home and continue coding after classes end.


    h3 How is the Early Coding for grade K-2 different?

    p The Early Coding class introduces coding ideas and practices in the context of stories and play.

    ul
      li
        i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light 
        | The focus of the class is developing logical / sequential thinking and planning 
      li 
        i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
        | We use a variety of activities, both on the iPad and unplugged, to work with short attention spans
      li 
        i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
        | The tools used do not require reading, so it is suitable for all literacy levels

    p.pad-bottom The coding section of this class uses Scratch Jr, which allows kids to develop stories, animations and simple games using an iPad app. Learning Scratch Jr prepares kids to move into Scratch, as the basic ideas and structure are highly similar.

    

    h3 Can I make up missed classes?

    p.pad-bottom Unfortunately, we do not offer make up lessons. Your computer is reserved for you during your lesson time, and it is reserved for others during the remainder of the week. We will help you catch up after a missed lesson as much as possible, but we encourage you to try to attend all your scheduled classes.

    h3 How big are the classes?

    p.pad-bottom We maintain a small class size so that every kid can get individual attention every week. Classes range from 4 to 10 kids, and we maintain a 4:1 or better student-teacher ratio.

    
    h3 What are the expectations for homework?

    p No homework is required!

    p However, coding is a complex, hands-on skill and the best way to improve is by doing it. Just like a baseball player has to practice batting, a coder needs to code. If your child is able to spend some time coding in between lessons, for example making a new project similar to the one made in class, s/he will retain the learning better and progress faster.

  .container.width-80-percent
    .row.pad-top
      h2.heading-section.text-center LEARN MORE OR REGISTER NOW 
    .row.pad-bottom
      .col-md-6.text-center.pad-bottom
        .btn-align-center
          a.btn.btn-secondary-inverse.btn-solo(href="weeklydescriptions.html") Class Descriptions
      .col-md-6.text-center.pad-bottom
        .btn-align-center
          a.btn.btn-secondary-inverse.btn-solo(href="http://bookeo.com/powerupta?category=31507UHUE31561FB215FB") Register Now
  section.section-light
    .container
      .row
        .email-box.col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
          #mc_embed_signup1
            form#mc-embedded-subscribe-form1.validate(action="//powerupta.us8.list-manage.com/subscribe/post?u=ed0abfd69c7573fb1e0291095&amp;id=b0ca742eea" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate)
              #mc_embed_signup_scroll1
                h2.heading-section SIGN UP FOR UPDATES
                p Be the first to find out about new classes, camps, special events and coding news:
                input#mce-EMAIL1.email(type="email" value="" name="EMAIL" placeholder="email address" required style="width:300px;")
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                div(style="position: absolute; left: -5000px;")
                  input(type="text" name="b_ed0abfd69c7573fb1e0291095_b0ca742eea" tabindex="-1" value="")
                input#mc-embedded-subscribe1.btn.btn-secondary(type="submit" value="Subscribe" name="subscribe")
