extends master-layout-fullwidth

block pagetitle
  title Programming for Kids - coding classes in Chicago | Power Up Tech Academy

block content
  section
    .container
      .row.extra-pad-top
        .col-md-8.col-md-offset-2
          .text-center
            h1 Do a FREE Hour of Code with us!
            h4.heading-primary Dec 7-13, 2015 is Computer Science Education Week,
            h4.heading-primary and Power Up Tech Academy is joining in the fun!

          .row.pad-top
            .col-xs-4.section-primary-sched Monday, Dec 7
            .col-xs-4.section-primary-sched Wednesday, Dec 9
            .col-xs-4.section-primary-sched Saturday, Dec 12
          .row
            .col-xs-4.section-light-sched Grade K-2nd <br> 4-5pm
            .col-xs-4.section-light-sched Grade 2nd-4th <br> 5-6pm
            .col-xs-4.section-light-sched Grade K-2nd <br> 2-3pm
          .row
            .col-xs-4.section-light-sched Grade 2nd-4th <br> 5-6pm
            .col-xs-4.section-light-sched Grade 4th-6th <br> 6-7pm
            .col-xs-4.section-light-sched Grade 2nd-4th <br> 3-4pm
          .row
            .col-xs-4.section-light-sched &nbsp;<br>&nbsp;
            .col-xs-4.section-light-sched &nbsp;<br>&nbsp;
            .col-xs-4.section-light-sched All ages <br> 4-5pm

          .btn-align-center.pad-top.pad-bottom
            a.btn.btn-secondary-inverse.btn-solo(href="mailto:tamasin@powerupta.com") Reserve your spot

          p.
            <strong>Hour of Code</strong> has become a global movement, thanks to leaders from politics, sports, technology and entertainment lending their support. (The below photo is from last year's event.)
          p.
            All week long, we will be holding <span style="text-decoration: underline; font-weight:bold;">FREE Hour of Code open houses</span> to let your kids come in and try something new, whether they are coding for the first time or the 100th.
          p.pad-bottom
            | And for this week, <strong>parents are encouraged to stay and code with their kids!</strong> Find out what they are learning and pick up a few tricks of your own.
          
          .text-center
            img(src="img/obama.jpg" width="500px")
          p.pad-top
            | Space is limited, so pre-registration is requested to ensure that we have a computer for you.
          p.
            To reserve your spot, please <a href="mailto:tamasin@powerupta.com">email us</a> and include the names of kids and adults coming, grades of the kids, and level of coding experience.

          h3.heading-secondary.text-center Join us to celebrate the fun of coding together!
          