extends master-layout

block pagetitle
  | Jobs | Power Up Tech Academy

block title
  | SHARE YOUR LOVE OF CODING

block content
  h3.heading-section Coding Instructors

  p Do you want to experience the thrill of sharing your technology expertise with the next generation? Then <a href="contact.html">we want to hear from you</a>!


  p Our ideal Coding Instructor is enthusiastic, experienced with teaching young children (ages 7-12) and has a solid understanding of general computer science. In addition, we expect specific knowledge in one or more of:

  ul
    li
      i.fa.fa-bolt.fa-3.fa-secondary 
      |  Scratch or other kids coding language
    li
      i.fa.fa-bolt.fa-3.fa-secondary 
      |  Minecraft modding
    li
      i.fa.fa-bolt.fa-3.fa-secondary 
      |  Modern front end web development
    li
      i.fa.fa-bolt.fa-3.fa-secondary 
      |  App development (iOS/Android)
    li
      i.fa.fa-bolt.fa-3.fa-secondary 
      |  Python
    li
      i.fa.fa-bolt.fa-3.fa-secondary 
      |  Game programming, such as Unity

  p We are looking for teachers who can commit to at least 2-3 days per week for one year with us. The hours are primarily between 3-8pm Monday-Friday and Saturday daytime. During the summer months, schedules will differ.


  h3.pad-top.heading-section Student teaching assistants

  p We also hire teaching assistants who are college or high school students with at least one computer science class and a demonstrated ability to work with kids. This is a great part-time job, with opportunities to pick up techniques from professionals, as well as the chance to experience the thrill of coding from a younger kid's perspective.
  p Please <a href="contact.html">contact us</a> to inquire about current openings.

block sidebar
  include ./includes/sidebar.jade