extends master-layout-fullwidth2

block pagetitle
  title Minecraft Parties for Kids in Chicago | Power Up Tech Academy

block metatag
  meta(description="Social events for kids to play Minecraft and meet other fans")

block content
  section
    .container.width-80-percent
      h2.heading-section.text-center MONTHLY MINECRAFT PARTIES
      h4.heading-secondary.text-center Saturday night fun for grades 2-8
      p.text-center
        img(src="../img/power-up-minecraft-night.jpg" width="500px")
      
      p.pad-top-light Watch out, zombies! We are bringing back our popular Minecraft parties - a social night for kids to play and meet other fans of the game.

      p Each party is a supervised session of open play time, where kids may join private servers we set up for the evening, or play on public servers of their choice. The evening is flexible if kids need to arrive late or leave early.

      .width-80-percent
        p
          span.heading-secondary WHEN:
          |  The next party is:
        ul
          li Saturday, Feb 25 from 5:30-8:00pm

        p
          span.heading-secondary WHERE:
          |  Power Up Tech Academy (2867 N Clybourn Ave)
        p
          span.heading-secondary WHO:
          |  Kids in grades 2-8, all experience levels (space limited to 14 kids)
        p
          span.heading-secondary COST:
          |  $25 per child
             
      h3.heading-secondary.text-center.pad-top-light.pad-bottom-light SCROLL DOWN TO REGISTER
      
      p
        span.heading-secondary QUESTIONS?
        |  Call 773-382-0778 or
        a(href="../contact.html") contact us online.
    
            
      p
        em
          strong NOTE: Students must bring their own PC/Mac Minecraft account to play, so if your child does not already have one, this will cost $26.95 (available on minecraft.net) and does not expire
      
      script(type="text/javascript" src="https://bookeo.com/widget.js?a=315069PAHR14AEE213B9A&type=3150PJW3M615112328E7B")
           
  section.section-light
    .container
      .row
        .email-box.col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
          #mc_embed_signup1
            form#mc-embedded-subscribe-form1.validate(action="//powerupta.us8.list-manage.com/subscribe/post?u=ed0abfd69c7573fb1e0291095&amp;id=b0ca742eea" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate)
              #mc_embed_signup_scroll1
                h2.heading-section SIGN UP FOR UPDATES
                p Be the first to find out about new classes, camps, special events and coding news:
                input#mce-EMAIL1.email(type="email" value="" name="EMAIL" placeholder="email address" required style="width:300px;")
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                div(style="position: absolute; left: -5000px;")
                  input(type="text" name="b_ed0abfd69c7573fb1e0291095_b0ca742eea" tabindex="-1" value="")
                input#mc-embedded-subscribe1.btn.btn-secondary(type="submit" value="Subscribe" name="subscribe")
                
         

  