extends master-layout-fullwidth

block pagetitle
  title Kids Coding Open House | Power Up Tech Academy

block title
  | Try Out Coding at our Kids Coding Open House!
block content
  .text-center
    .row
      .col-sm-10.col-sm-offset-1.text-center
        img(src="img/open-house-march2016.png" width="600px")
    .row
      .col-sm-8.col-sm-offset-2.text-center.col-md-6.col-md-offset-3
        h4.heading-secondary **NEW! The 3pm Sunday session is now a Beginner/Intermediate level**
        p Come to Power Up Tech Academy for a free Kids Coding Open House! 

        p
          ul.text-left.pad-left-heavy
            li
              i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
              | Try out a coding class 
            li
              i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
              | Meet a teacher
            li
              i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
              | Check out our coding studio
            li
              i.fa.fa-bolt.fa-3.fa-secondary.pad-right-light
              | Ask questions

        p Each open house will consist of a fun, hands-on 45 minute coding class followed by time to chat with the instructor.
        h4.heading-secondary.pad-top-light The Kids Coding Open House is free, but registration is required.
        p.pad-top-light Please be sure to register your child in the right session for his/her grade and experience level.
        p If you have any questions about the Kids Coding Open House, please don't hesitate to
          a(href="contact.html")  contact us.
        p 
          script(type="text/javascript" src="https://bookeo.com/widget.js?a=315069PAHR14AEE213B9A&type=3150AJNA7F1532A97F63B")