extends master-layout-nosidebar

block title
  | Power Up Tech Academy - Kids Coding Resource Center

block content
  .container
    .row
      .col-md-3
        p Articles About Kids Coding
        p Books About Kids Coding
        p Books For Kids to Learn Coding
        p Board Games Based on Coding Concepts
        p Unplugged Group Activities
        p Coding Using Robots
        p Coding Apps on Tablets
        p Game Apps Based on Coding Concepts
        p Online Coding Tools
        p Online Games Based on Coding Concepts
      .col-md-9
        .row
          .col-md-4
            h3 Articles About Kids Coding
            ul
              li Can Kids Really Learn to Code Before They Can Fully Read?
          .col-md-4
            h3 Books About Kids Coding
            ul
              li Mindstorms
          .col-md-4
            h3 Books For Kids to Learn Coding
            ul
              li Super Scratch Adventure
              li Teach Your Kids to Code
        .row
          .col-md-4
            h3 Board Games Based on Coding Concepts
            ul
              li Robot Turtles
              li Code Monkey Island
              li Code Master
          .col-md-4
            h3 Unplugged Group Activities
            ul
              li CS Unplugged
          .col-md-4
            h3 Coding Using Robots
            ul
              li Dot and Dash
              li Sphero
              li Edison
        .row
          .col-md-4
            h3 Coding Apps on Tablets
            ul
              li ScratchJr
              li Kodable
              li Lightbot
              li Hopscotch
          .col-md-4
            h3 Online Coding Tools (open creation)
            ul
              li Scratch
              li App Inventor
              li Codepen
              li Trinket
          .col-md-4
            h3 Online Coding Games
            ul
              li Code Kingdoms
        .row
          .col-md-4
            h3 Online Coding Tutorials (steps to follow)
            ul
              li Code Monster (Javascript)
              li Code.org
              li Tynker
              li Dash by General Assembly
              li Codecademy


  p Include age group, girl friendly, price, review, link
  p NOTE: Any income from books or games purchased through our affiliate links are put into coding scholarships for lower-income kids
