extends master-layout-fullwidth2

block pagetitle
	title Reviews | Power Up Tech Academy

block metatag
	meta(description="Student and parents love the coding classes and camps at Power Up Tech Academy")

block content
	.container
		.row
			h2.heading-section.text-center REVIEWS: WHAT OUR STUDENTS SAY ABOUT US
		.row
			.col-md-4

				.padding-top(itemscope itemtype="http://schema.org/Review")
					span(itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization")
						span(itemprop="name" content="Power Up Tech Academy")
					
					div(itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")

						span(itemprop="ratingValue" content="5")
					span(itemprop="reviewBody") The minecraft party was awesome. I am going to ask to go to the next one.
					.author
						span(itemprop="author" itemscope itemtype="http://schema.org/Person") --
							span(itemprop="name") Asher(student)
							| ,
						span(itemprop="DateCreated")  4/10/2016

				.padding-top(itemscope itemtype="http://schema.org/Review")
					span(itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization")
						span(itemprop="name" content="Power Up Tech Academy")
					
					div(itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")

						span(itemprop="ratingValue" content="5")
					span(itemprop="reviewBody") Class is the highlight every week.
					.author
						span(itemprop="author" itemscope itemtype="http://schema.org/Person") --
							span(itemprop="name") Jason
							| ,
						span(itemprop="DateCreated")  4/10/2016

				.padding-top(itemscope itemtype="http://schema.org/Review")
					span(itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization")
						span(itemprop="name" content="Power Up Tech Academy")
					
					div(itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")

						span(itemprop="ratingValue" content="5")
					span(itemprop="reviewBody") Nice environment; nurturing, patient, and knowledgeable instructors.
					.author
						span(itemprop="author" itemscope itemtype="http://schema.org/Person") --
							span(itemprop="name") Ashley
							| ,
						span(itemprop="DateCreated")  3/5/2016

				.padding-top(itemscope itemtype="http://schema.org/Review")
					span(itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization")
						span(itemprop="name" content="Power Up Tech Academy")
					
					div(itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")

						span(itemprop="ratingValue" content="5")
					span(itemprop="reviewBody") I think I have been playing Minecraft for 2 years now, and being able to make my OWN mods is really cool. And also, the monthly Minecraft parties make me so excited. It's so awesome(928)!
					.author
						span(itemprop="author" itemscope itemtype="http://schema.org/Person") --
							span(itemprop="name") Lucy(student)
							| ,
						span(itemprop="DateCreated")  2/21/2016

				.padding-top(itemscope itemtype="http://schema.org/Review")
					span(itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization")
						span(itemprop="name" content="Power Up Tech Academy")
					
					div(itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")

						span(itemprop="ratingValue" content="5")
					span(itemprop="reviewBody") Everything was great.. class was fun, informative and organized.... Kids were into it, and assistance and guidance was excellent. Thank you!
					.author
						span(itemprop="author" itemscope itemtype="http://schema.org/Person") --
							span(itemprop="name") Michael
							| ,
						span(itemprop="DateCreated")  2/8/2016

				.padding-top(itemscope itemtype="http://schema.org/Review")
					span(itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization")
						span(itemprop="name" content="Power Up Tech Academy")
					
					div(itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")

						span(itemprop="ratingValue" content="5")
					span(itemprop="reviewBody") Simon loved the class. The one suggestion I have is maybe there is a way to view projects at home so he can show his brothers/parents outside of your computers what he has done?
					.author
						span(itemprop="author" itemscope itemtype="http://schema.org/Person") --
							span(itemprop="name") Samantha
							| ,
						span(itemprop="DateCreated")  11/18/2015

			.col-md-4
				.padding-top(itemscope itemtype="http://schema.org/Review")
					span(itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization")
						span(itemprop="name" content="Power Up Tech Academy")
					
					div(itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")

						span(itemprop="ratingValue" content="5")
					span(itemprop="reviewBody") My son loved the coding class! He always talked about what he created each week and what enhancements he wanted to add to his game at the next class.  The instructors were wonderful and also offered me advice on other projects he could try at home.  Thank you for offering this class as it was a wonderful opportunity for my son to be challenged and learn something that he would not have otherwise been exposed to.
					.author
						span(itemprop="author" itemscope itemtype="http://schema.org/Person") --
							span(itemprop="name") Cari
							| ,
						span(itemprop="DateCreated")  2/6/2016


				.padding-top(itemscope itemtype="http://schema.org/Review")
					span(itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization")
						span(itemprop="name" content="Power Up Tech Academy")
					
					div(itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")

						span(itemprop="ratingValue" content="5")
					span(itemprop="reviewBody") Cole had a great time despite the issues with Scratch yesterday. He's enthusiastic about returning for more programs and camps.
					.author
						span(itemprop="author" itemscope itemtype="http://schema.org/Person") --
							span(itemprop="name") Hollis
							| ,
						span(itemprop="DateCreated")  12/29/2015

			
				.padding-top(itemscope itemtype="http://schema.org/Review")
					span(itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization")
						span(itemprop="name" content="Power Up Tech Academy")
					
					div(itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")

						span(itemprop="ratingValue" content="5")
					span(itemprop="reviewBody") Johnny thought it was fun and pretty cool neat and he was happy to learn stuff about the other classmates.  He also thought it was fun to play with robots and make his own game and learn about physics!
					.author
						span(itemprop="author" itemscope itemtype="http://schema.org/Person") --
							span(itemprop="name") Shirley
							| ,
						span(itemprop="DateCreated")  12/28/2015


				.padding-top(itemscope itemtype="http://schema.org/Review")
					span(itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization")
						span(itemprop="name" content="Power Up Tech Academy")
					
					div(itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")

						span(itemprop="ratingValue" content="5")
					span(itemprop="reviewBody") 
					.author
						span(itemprop="author" itemscope itemtype="http://schema.org/Person") --
							span(itemprop="name") Erica
							| ,
						span(itemprop="DateCreated")  11/19/2015

			

				.padding-top(itemscope itemtype="http://schema.org/Review")
					span(itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization")
						span(itemprop="name" content="Power Up Tech Academy")
					
					div(itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")

						span(itemprop="ratingValue" content="5")
					span(itemprop="reviewBody") It was so fun! My favorite parts were the park and the pet game!😀
					.author
						span(itemprop="author" itemscope itemtype="http://schema.org/Person") --
							span(itemprop="name") Sejal(student)
							| ,
						span(itemprop="DateCreated")  7/25/2015

				.padding-top(itemscope itemtype="http://schema.org/Review")
					span(itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization")
						span(itemprop="name" content="Power Up Tech Academy")
					
					div(itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")

						span(itemprop="ratingValue" content="5")
					span(itemprop="reviewBody") Ryan really enjoyed his time at camp this week, which elevated his level of interest and excitement in coding! Thank you!
					.author
						span(itemprop="author" itemscope itemtype="http://schema.org/Person") --
							span(itemprop="name") Jon
							| ,
						span(itemprop="DateCreated")  7/24/2015

			.col-md-4
				.padding-top(itemscope itemtype="http://schema.org/Review")
					span(itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization")
						span(itemprop="name" content="Power Up Tech Academy")
					
					div(itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")

						span(itemprop="ratingValue" content="5")
					span(itemprop="reviewBody") Fantastic coding camp for my 9 and 8 year old boys! Small class size, enthusiastic and fun instructor (and teaching assistant!), and the kids get to each lunch and hang out at the playground for 2 hours in the middle of the afternoon to break up all the screen time. My kids said it was one of the best camps they've ever taken. Would highly recommend!
					.author
						span(itemprop="author" itemscope itemtype="http://schema.org/Person") --
							span(itemprop="name") Karen
							| ,
						span(itemprop="DateCreated")  7/9/2015

			
				.padding-top(itemscope itemtype="http://schema.org/Review")
					span(itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization")
						span(itemprop="name" content="Power Up Tech Academy")
					
					div(itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")

						span(itemprop="ratingValue" content="5")
					span(itemprop="reviewBody") Piper loved it!  Wish you offered another session of camp and that you were closer to home!  Thanks for a great week!
					.author
						span(itemprop="author" itemscope itemtype="http://schema.org/Person") --
							span(itemprop="name") Laura
							| ,
						span(itemprop="DateCreated")  7/7/2015

			
				.padding-top(itemscope itemtype="http://schema.org/Review")
					span(itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization")
						span(itemprop="name" content="Power Up Tech Academy")
					
					div(itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")

						span(itemprop="ratingValue" content="5")
					span(itemprop="reviewBody") My child loved going to this camp. The only drawback is the length--three hours might be a better duration [than 2 hours], since the time includes snack and play.
					.author
						span(itemprop="author" itemscope itemtype="http://schema.org/Person") --
							span(itemprop="name") Monique
							| ,
						span(itemprop="DateCreated")  7/2/2015

				.padding-top(itemscope itemtype="http://schema.org/Review")
					span(itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization")
						span(itemprop="name" content="Power Up Tech Academy")
					
					div(itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(itemprop="ratingValue" content="5")
					span(itemprop="reviewBody") 
					.author
						span(itemprop="author" itemscope itemtype="http://schema.org/Person") --
							span(itemprop="name") Adam
							| ,
						span(itemprop="DateCreated")  6/26/2015	


				.padding-top(itemscope itemtype="http://schema.org/Review")
					span(itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization")
						span(itemprop="name" content="Power Up Tech Academy")
					div(itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")
						span(class="mystar")

						span(itemprop="ratingValue" content="5")
					span(itemprop="reviewBody") Jack had a great time and is super excited to take another class in the fall. Have a wonderful summer and thank you for teaching Jack more about Scratch.
					.author
						span(itemprop="author" itemscope itemtype="http://schema.org/Person") --
							span(itemprop="name") Jason
							| ,
						span(itemprop="DateCreated")  5/28/2015







