extends master-layout-fullwidth

block pagetitle
  title Programming for Kids - coding classes in Chicago | Power Up Tech Academy

block content
  section
    .container
      .row.extra-pad-top
        .col-md-8.col-md-offset-2
          .text-center
            img(src="img/winter2016schedule.png" width="700px" alt="winter 2016 kids coding class schedule")

          .btn-align-center.pad-top.pad-bottom
            a.btn.btn-secondary-inverse.btn-solo(href="http://bookeo.com/powerupta?category=3150636Y33150B1CC3E98") Register Now
        