extends master-layout

block title
  | Web Development

block content
  h3 Student Web Development

  p.
    Occasionally students in our web development courses are looking for projects to build. 
    In this case, we like to provide this as a service to small non-profits and local businesses. 
    This development is done by students under the supervision and guidance of our professional 
    instructors. There is no fee for this service, but we ask that the recipient make a donation 
    to our scholarship fund to allow lower-income students to access our classes. 
  p
    em.
      Hosting and any other costs (eg, stock photography or third party components) are the 
      responsibility of the client, and will be fully communicated before any costs are incurred.
  p.
    Our web development service is best suited to smaller sites, and may take from 8-16 weeks 
    to complete, since students only work part time on it. The organization must provide a 
    contact who is able to come to our class to provide requirements and feedback at the beginning, 
    middle and end of the project. The contact must also be able to respond in a timely manner to 
    questions by email.
  p.
    If you have an organization which is interested in this service please
    <a href="contact.html">contact us</a>
    for more information.


  h3.pad-top Professional Web Development

  p.
    Our instructors are also occasionally available for contract development work. 
    Please <a href="contact.html">contact us</a> if interested.

block sidebar
  include ./includes/sidebar.jade