extends master-layout-fullwidth2

block pagetitle
  title Why Learn to Code? | Power Up Tech Academy


block metatag
  meta(description="Coding is awesome! We want to share that with you. Here is why we love it...")

block content
  section.no-pad-bottom
    .container.width-80-percent
      .row
        .col-xs-12
          h2.heading-section.text-center 10 REASONS TO LEARN TO CODE

      .row
        .col-sm-5
          p.
            Coding is awesome. Kids are awesome. Coding and kids together are magic.
          p.
            We hope you get a chance to discover the fun, excitement and benefits of coding.
          p.
            Here are some of our favorite reasons to learn to code. What are yours?
        .col-sm-7
          img(src="img/scratchjr-camp1.jpg" width="100%")
  section
    .container.reasons.text-center.no-pad-top
      .row
        .col-sm-offset-1.col-sm-5.reason1.section-primary
          .bignum 1
          | To understand how <br>the technology all around you works
        .col-sm-5.reason2.section-light.big
          | To be able to express creative <br>ideas in a new language
          .bignum 2
      .row
        .col-sm-offset-1.col-sm-6.reason3.section-dark.bigger2
          | To practice logical and <br>sequential thinking skills
          .bignum 3
        .col-sm-4.reason4.section-secondary
          .bignum 4
          | To have tools to build<br>games and apps you have imagined
      .row
        .col-sm-offset-1.col-sm-3.reason5.section-light.big
          .bignum 5
          | To have FUN!
        .col-sm-7.reason6.section-primary
          .bignum 6
          b To become aware of a set of attractive career paths
      .row
        .col-sm-offset-1.col-sm-5.section-secondary.reason7.bigger2
          .bignum 7
          | To open the door to <br>other STEM fields
        .col-sm-5.section-dark.reason8.big
          .bignum 8
          | To learn how to troubleshoot and problem solve
      .row
        .col-sm-offset-1.col-sm-3.reason9.section-dark  
          .bignum 9
          b To make your own <br>entertainment
        .col-sm-7.reason10.section-light.bigger2
          .bignum 10
          | To build confidence by <br>making things work

