extends master-layout-fullwidth2

block pagetitle
	title Winter break coding camps in Chicago | Power Up Tech Academy

block metatag
	meta(description="Winter Break Coding Camps for kids in Chicago")

block content
	section
		.container
			.row
				.col-md-8.col-md-offset-2
					h3.heading-section.text-center 2016-17 WINTER BREAK CODING CAMPS FOR GRADES K-8
					p Both beginners and experienced coders are invited to join us over the holidays to learn and improve your coding. School breaks are a great opportunity to come for a half day or several days and get some focused time to be creative, ambitious and persistent with this 21st century skill.
					p What will your child create with technology? There's only one way to find out...
						img(src="img/winter-break.jpg" width="90%")
					p.text-center Scroll to the bottom of the page to register
					h3.heading-section.text-center.pad-top CAMP SCHEDULE
					.block.block-xlight
						p AM classes are 9am-noon, except Early Coding, which is 10am-noon
						p PM classes are 1-4pm
						p Students who attend both AM and PM may stay over the lunch hour for free
					p
						img(src="img/winter-break-schedule-2016.png" width="90%")
					p.text-center Scroll to the bottom of the page to register
					h3.heading-section.text-center.pad-top CAMP PRICING
					.block.block-xlight
						p Winter Break Camps are priced per half day to allow flexible registration:
						p Early Coding camp (2 hrs): $49
						p Beginner Coding camp (3 hrs): $59
						p Minecraft Modding camp (3 hrs): $65
						p Experienced Coders camp (3 hrs): $59
						p Extended care from 8-9am or 4-5pm: $12 per hour

					p.text-center Scroll to the bottom of the page to register
					h3.heading-section.text-center.pad-top CAMP DESCRIPTIONS

			.row.no-pad-top
				.col-sm-6.col-sm-offset-0.col-md-5.col-md-offset-1.all-pad
					h4.class-title.pad-top.heading-primary Early Coding Through Stories &amp; Play
					h5.class-subtitle Grades K-2 
					.block.block-xlight
						p.class-description.
							A fun and interactive class that will result in working animations created by your child!
							Learn coding basics while creating stories on the iPad.
							Play fun unplugged and iPad games that teach logic and sequential thinking.
							This class is suitable for all levels of readers and reinforces literacy skills.
						p Note: IPads are provided, but if you want to keep your work, please bring your own iPad, as files are saved locally on each device.

					h4.class-title.pad-top.heading-primary Beginner Coding - Video Games and More
					h5.class-subtitle Grades 2-6 
					.block.block-xlight
						p.class-description Discover the thrill of creating your own entertainment! Using Scratch, a kid-friendly programming language from MIT, kids can build space invaders, a virtual pet, geometry dash or any other kind of game they can imagine. Game programming develops skills such as logic, visual design, animation, sound design, storylines and more. It's a great way to take on new challenges while having lots of fun!
				.col-sm-6.col-sm-offset-0.col-md-5.all-pad
					h4.class-title.pad-top.heading-primary Minecraft Modding
					h5.class-subtitle Grades 3-6
					.block.block-xlight
						p.class-description Learn to code by modifying one of today's most popular games! In this class, we use exploding chickens, drones that build houses for you, pumpkins that drop random lucky items, and more cool projects to learn about how programming works. Scratch experience is recommended and a Minecraft account is required (PC/Mac version, available from minecraft.net). 
						p Note: This is not a class to play Minecraft, so please set your child's expectations accordingly.

					h4.class-title.pad-top.heading-primary Experienced Coders Camp
					h5.class-subtitle Grades 2-8
					.block.block-xlight
						p.class-description If you have completed a previous coding class, and you want to get help building bigger and more complex projects, this camp is for you. Our teachers will work with each student to figure out their challenges and create amazing projects. Bring your own ideas, or ask us to help you design what you want to work on.
				.col-md-8.col-md-offset-2
					h3.heading-section.text-center.pad-top REGISTRATION
					p.text-center If you are registering for multiple sessions, it should be very fast after the first one. <br>If you need help with your registration, please call us at 773-382-0778.
					p.text-center
						script(type="text/javascript" src="https://bookeo.com/widget.js?a=315069PAHR14AEE213B9A&category=3150U4WKLA1513F60C554")
						